.main-div {
  margin-top: 10px;
}

.tbl-div {
  padding-top: 5px;
/*  background-color: rgba(150, 150, 0, 0.5);*/
}

.canvas-div {
/*  background-color: rgba(0, 0, 255, 0.5);*/
  height: 250px;
}

.control-div {
  max-height: 250px;
}

.graph-div {
/*  padding: 10px;*/
/*  background-color: rgba(255, 0, 0, 0.5);*/
/*  background-color: rgba(255, 0, 0, 0.5);*/
  height: 250px;
}
