.main-div {
  margin-top: 25px;
}

.btn-start {
  padding-right: 10px;
}

.button-div {
  height: 35px;
  padding-right: 5px;
  /*  background-color: rgba(0, 255, 0, 0.5);*/
}

.tbl-div {
  margin-left: 50px;
  padding-top: 10px;
}

.canvas-div {
  background-color: lightcoral;
  background-color: rgba(0, 0, 255, 0.5);
  height: 200px;
  padding-left: 5px;
  text-align: center;
}

.graph-div {
  /*  padding: 10px;*/
  background-color: lightskyblue;
  background-color: rgba(25, 160, 200, 0.5);
  height: 250px;
}

.control {
  background-color: lightcoral;
  background-color: rgba(255, 0, 0, 0.5);
}

.content {
  background-color: deepskyblue;
  background-color: rgba(0, 0, 255, 0.5);
}