<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Antenna Position Controller</title>
  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="css/vendors/LineChart.css" media="screen" title="no title" charset="utf-8">
  <!-- <link rel="stylesheet" href="node_modules/n3-charts/build/LineChart.css"> -->

  <!--  Angular Material Dependencies-->
  <script>


  </script>
  <!--  n3-line-chart  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <!--  Angular Material JS-->
  <script src="bower_components/angular-material/angular-material.js"></script>
   <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->

  <!-- <script src="node_modules/n3-charts/build/LineChart.js"></script> -->
  <script src="js/vendors/LineChart.js" charset="utf-8"></script>
</head>

<body ng-app="MainApp">
  <div layout="column" layout-margin class="main-div" ng-controller="MainController as mainCtrl">
    <div layout="row" layout-align="center">
      <div layout="column" class="control-div" flex>
        <div layout="row" class="button-div">
          <!--  Start should be enable if !started AND connected-->
          <md-button class="md-raised md-primary" ng-disabled="started || !connected" ng-click="mainCtrl.start()">
            Start
          </md-button>
<!--          <md-button class="md-raised md-primary" ng-click="test()">Start</md-button>-->
          <md-button class="md-raised md-warn" ng-disabled="!started" ng-click="mainCtrl.stop()">
            Stop
          </md-button>
        </div>
        <form layout="column" name="configForm">
          <md-input-container flex>
            <md-switch ng-model="configuration.mode" aria-label="Auto switch" ng-true-value="'manual'" ng-false-value="'auto'">
              {{ configuration.mode }} mode
              <md-tooltip md-direction="right" md-delay="1000">
                Activate/deactivate the manual mode
              </md-tooltip>
            </md-switch>
          </md-input-container>
          <md-input-container ng-show="configuration.mode === 'manual'" flex>
            <label>Position</label>
            <input name="position" flex="50" type="text" ng-model="manualPosition" ng-disabled="configuration.mode === 'auto'" placeholder="0, 0" ng-pattern="/^[\d\s]?\d,\s?\d[\d\s]?$/">
            <div ng-messages="configForm.position.$error" ng-show="configForm.position.$error.pattern">
              <div ng-message="pattern"> The position should be in the form "0, 0"</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>WiFi readings</label>
            <input name="readings" flex="50" type="number" min="1" max="300" ng-model="configuration.numberOfReadings" placeholder="5">
            <md-tooltip md-delay="1000">Number of readings for each position</md-tooltip>
            <div ng-messages="configForm.readings.$error" ng-show="configForm.readings.$error.min || configForm.readings.$error.max">
              <div ng-message="min">Min number of readings is 1</div>
              <div ng-message="max">Max number of readings is 300</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Reading delay:</label>
            <input name="delay" flex="50" type="number" min="500" max="3000" ng-model="configuration.readingDelay" placeholder="1000">
            <md-tooltip md-delay="1000">Delay between readings (in milliseconsds)</md-tooltip>
            <div ng-messages="configForm.delay.$error" ng-show="configForm.delay.$error.min || configForm.delay.$error.max">
              <div ng-message="min">Min value for delay is 500ms</div>
              <div ng-message="max">Max value for delay is 3000ms</div>
            </div>
          </md-input-container>
        </form>
      </div>
      <md-divider></md-divider>
      <div flex layout="column" class="canvas-div" layout-align="space-around center">
        <p>Current antenna position:</p>
        <canvas id="canvas" width="150" height="150" ng-controller="CanvasController as canvasCtrl"></canvas>
        <table class="table">
          <thead>
            <tr>
              <th>Position</th>
              <th>Level</th>
              <th>Mbps</th>
            </tr>
            <tr>
              <td ng-bind="currentPosition.toString()">position</td>
              <td ng-bind="netStats.level">level</td>
              <td ng-bind="netStats.bitrate.rx">bitrate</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <md-divider></md-divider>

    <div class="chart-div" ng-controller="ChartController as chartCtrl">
      <h3 class="md-title">Signal level and bitrate in Mbps</h3>
      <Linechart data="data" options="options" on-click="chartCtrl.clickFunction(row, index, series, options)"></Linechart>
    </div>
  </div>
</body>

<!-- Google chart -->

<!-- Modules-->
<script src="js/app.js"></script>
<!-- Controllers -->
<script src="js/controllers/main-controller.js"></script>
<script src="js/controllers/chart-controller.js"></script>
<script src="js/controllers/canvas-controller.js"></script>
<script src="js/controllers/config-controller.js"></script>
<!-- Services -->
<script src="js/services/arduino-comm.js"></script>
<script src="js/services/net-info.js" charset="utf-8"></script>
<script src="js/services/watcher-tracker.js" charset="utf-8"></script>

</html>
